body {
  margin: 0; }

nav {
  height: 50px; }
  nav ul {
    margin-top: 45px;
    margin-left: 44%;
    width: 50%; }
  nav li {
    font-family: gilroy;
    font-weight: bold;
    margin-right: 25px;
    display: inline;
    color: #CCCCCC; }
  nav li:hover {
    cursor: pointer;
    text-decoration: underline; }

#left {
  margin-top: -20px;
  padding-left: 7%;
  width: 33%;
  float: left;
  font-family: gilroy; }
  #left h5 {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 0px; }
  #left p {
    font-size: 13px;
    font-weight: 100;
    color: grey;
    margin-bottom: -15px; }

#right {
  width: 60%;
  float: right;
  background-image: url("Images/dashboard-02.jpg");
  background-size: cover;
  height: 578px; }

form {
  font-family: gilroy;
  width: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start; }
  form .image {
    border: 0px;
    display: flex;
    align-items: center;
    height: 20px; }
    form .image input {
      margin-left: -15%; }
  form input {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 1px;
    width: 50%;
    border: 2px solid grey;
    padding: 3% 10% 2% 10%; }
  form label {
    font-family: arial;
    color: grey;
    font-weight: bold;
    font-size: 13px;
    width: 30%; }
  form button {
    font-weight: bold;
    font-size: 14px;
    width: 30%;
    margin-top: 2%;
    height: 35px;
    width: 110px;
    background-color: black;
    border: 0px;
    color: white;
    border-radius: 19px;
    padding: 2% 5% 5% 2%; }
  form button:hover {
    cursor: pointer;
    transition: 1s;
    transform: rotatex(360deg);
    background-color: white;
    border: 2px solid black;
    color: black; }

.other-routes {
  margin-top: 0px;
  display: flex; }
  .other-routes p {
    margin-right: 10px; }

.banner {
  margin-top: 282px;
  display: flex; }

.clock {
  height: 200px;
  background-color: black;
  width: 25%; }
  .clock .tick {
    background-color: white;
    width: 5px;
    height: 40px; }
  .clock #time {
    margin-left: 30px;
    margin-top: 40px;
    color: white;
    display: flex; }
    .clock #time p {
      font-family: gilroy;
      color: #CCCCCC;
      margin-right: 20px; }

.announcements {
  font-family: gilroy;
  display: flex;
  align-items: flex-start;
  color: black;
  background-color: white;
  height: 200px;
  width: 50%; }
  .announcements #line {
    margin-top: -10px;
    width: 10%;
    height: 4px;
    background-color: orange; }
  .announcements p {
    font-size: 14px;
    line-height: 150%; }
  .announcements #header {
    margin-right: 10%;
    padding-top: 10px;
    height: 190px;
    width: 25px;
    background-color: #F7931E; }
    .announcements #header p {
      font-family: gilroy;
      font-size: 16px;
      font-weight: bold;
      margin-top: 500%;
      transform: rotate(-90deg); }

#image {
  background-image: url("Images/pool.jpg");
  width: 25%;
  height: 200px;
  background-size: cover; }

#display {
  margin-top: 30px;
  padding-left: 7%;
  float: left;
  width: 100%;
  display: flex; }
  #display .infon {
    font-family: gilroy;
    display: flex;
    align-items: center; }
    #display .infon h5 {
      font-family: gilroy;
      font-size: 15px;
      margin-right: 20px; }
    #display .infon p {
      font-size: 12px; }

/*# sourceMappingURL=staff-style.css.map */
